MyTraining/MyTraining/bin/Debug/net7.0/MyTraining.deps.json
MyTraining/MyTraining/bin/Debug/net7.0/MyTraining.dll
MyTraining/MyTraining/bin/Debug/net7.0/MyTraining.exe
MyTraining/MyTraining/bin/Debug/net7.0/MyTraining.pdb
MyTraining/MyTraining/bin/Debug/net7.0/MyTraining.runtimeconfig.json
MyTraining/MyTraining/obj/MyTraining.csproj.nuget.dgspec.json
MyTraining/MyTraining/obj/MyTraining.csproj.nuget.g.props
MyTraining/MyTraining/obj/MyTraining.csproj.nuget.g.targets
MyTraining/MyTraining/obj/project.assets.json
MyTraining/MyTraining/obj/project.nuget.cache
MyTraining/MyTraining/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MyTraining/MyTraining/obj/Debug/net7.0/apphost.exe
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.AssemblyInfo.cs
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.AssemblyInfoInputs.cache
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.assets.cache
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.csproj.BuildWithSkipAnalyzers
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.csproj.CoreCompileInputs.cache
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.csproj.FileListAbsolute.txt
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.dll
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.GeneratedMSBuildEditorConfig.editorconfig
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.genruntimeconfig.cache
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.GlobalUsings.g.cs
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.pdb
MyTraining/MyTraining/obj/Debug/net7.0/MyTraining.sourcelink.json
MyTraining/MyTraining/obj/Debug/net7.0/ref/MyTraining.dll
MyTraining/MyTraining/obj/Debug/net7.0/refint/MyTraining.dll
MyTraining/MyTrainingTests/bin/Debug/net7.0/CoverletSourceRootsMapping_MyTrainingTests
MyTraining/MyTrainingTests/obj/MyTrainingTests.csproj.nuget.dgspec.json
MyTraining/MyTrainingTests/obj/MyTrainingTests.csproj.nuget.g.props
MyTraining/MyTrainingTests/obj/MyTrainingTests.csproj.nuget.g.targets
MyTraining/MyTrainingTests/obj/project.assets.json
MyTraining/MyTrainingTests/obj/project.nuget.cache
MyTraining/MyTrainingTests/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
MyTraining/MyTrainingTests/obj/Debug/net7.0/MyTrainingTests.AssemblyInfo.cs
MyTraining/MyTrainingTests/obj/Debug/net7.0/MyTrainingTests.AssemblyInfoInputs.cache
MyTraining/MyTrainingTests/obj/Debug/net7.0/MyTrainingTests.assets.cache
MyTraining/MyTrainingTests/obj/Debug/net7.0/MyTrainingTests.csproj.AssemblyReference.cache
MyTraining/MyTrainingTests/obj/Debug/net7.0/MyTrainingTests.GeneratedMSBuildEditorConfig.editorconfig
MyTraining/MyTrainingTests/obj/Debug/net7.0/MyTrainingTests.GlobalUsings.g.cs
MyTraining/MyTrainingTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
MyTraining/MyTrainingTests/obj/Debug/net8.0/MyTrainingTests.AssemblyInfo.cs
MyTraining/MyTrainingTests/obj/Debug/net8.0/MyTrainingTests.AssemblyInfoInputs.cache
MyTraining/MyTrainingTests/obj/Debug/net8.0/MyTrainingTests.csproj.AssemblyReference.cache
MyTraining/MyTrainingTests/obj/Debug/net8.0/MyTrainingTests.GeneratedMSBuildEditorConfig.editorconfig
MyTraining/MyTrainingTests/obj/Debug/net8.0/MyTrainingTests.GlobalUsings.g.cs
MyTraining/.vs/MyTraining/DesignTimeBuild/.dtbcache.v2
MyTraining/.vs/MyTraining/FileContentIndex/1b3ed3a2-bf5a-443c-8181-6ce6df7f5073.vsidx
MyTraining/.vs/MyTraining/FileContentIndex/6f35ad87-399e-474d-9b70-20593bbff3e3.vsidx
MyTraining/.vs/MyTraining/FileContentIndex/28c27249-ba96-4607-bbae-53c8a6e4174c.vsidx
MyTraining/.vs/MyTraining/FileContentIndex/b16ae864-cad9-47f7-b8d6-ada98d2c4487.vsidx
MyTraining/.vs/MyTraining/FileContentIndex/b84d796a-ab78-4779-aa42-9523c9c7149c.vsidx
MyTraining/.vs/MyTraining/v17/.futdcache.v2
MyTraining/.vs/MyTraining/v17/.suo
MyTraining/.vs/MyTraining/v17/DocumentLayout.json
MyTraining/.vs/MyTraining/v17/TestStore/0/000.testlog
MyTraining/.vs/MyTraining/v17/TestStore/0/testlog.manifest
MyTraining/.vs/ProjectEvaluation/mytraining.metadata.v7.bin
MyTraining/.vs/ProjectEvaluation/mytraining.projects.v7.bin
*.generated.cs
/MyTraining/MyTraining/bin/Debug/net7.0
/MyTraining/.vs/MyTraining/FileContentIndex
/MyTraining/MyTraining/obj/Debug/net7.0
